@page
@model MyWork.Pages.Editor.EditorModel

@section head
{
    <link href="~/css/summernote-lite.min.css" rel="stylesheet">
    <style>
        .note-frame pre {
            background-color: #eee;
            border: 1px solid #ccc;
        }

    </style>
}

 <div id="summernote"></div>


<button onclick="onGetCodeClicked()">Get code</button>
<button onclick="sayHello()">Say hello</button>

@section scripts
{
    <script src="~/Pages/Editor/Editor.cshtml.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="~/js/summernote-lite.min.js"></script>
    <script>
        $('#summernote').summernote({
            placeholder: 'Hello stand alone ui',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });

        function onGetCodeClicked() {
            var code = $('#summernote').summernote('code');
            alert(code);
        }   
    </script>
}